$home-hexagon-width: 40vw;
$home-hexagon-height: $hexagon-width * 0.55;

ul#home {
  //max-width: 900px;
  .honeycomb-cell {
    min-width: $home-hexagon-width !important;
    height: $home-hexagon-height !important;
  }
}
