<nav class="navbar">
    <ul>
        <div class="align-left">
<!--             <li class="nav-logo"><img src="./assets/NECLogoBanner.png" alt="West-MEC Veterinary Science Logo">
            </li> -->
            <li class="nav-item title"><a href="">Legendary Find</a></li>
            <li class="menu-button"><button><i class="fas fa-bars"></i></button></li>
        </div>
        <div class="align-right links closed">
            <li class="nav-item"><a class="link" href="/">Home</a></li>
            <li class="nav-item"><a class="link active" href="/about">About</a></li>
            <li class="nav-item"><a class="link" href="/games">Games</a></li>
        </div>
    </ul>
</nav>