<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="./styles/main.css">
        <title>Document</title>
    </head>

    <body>
        <%- include ("../partials/nav.ejs") %>
            <ul class="honeycomb">
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>Who are we?</h1>
                        We are simply gamers that firmly believe in making connections with others.
                    </div>
                </li>
                <li class="honeycomb-cell img">
                    <img src="./assets/logo.svg"
                        class="honeycomb-cell__image">
                </li>
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>What do we do?</h1>
                        We make sure everyone has access to friends with common game interests.
                    </div>
                </li>
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>Who we do it for?</h1>
                        We do it for the gamers who have every felt alone playing a game.
                    </div>
                </li>
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>Why do we do it?</h1>
                        We do it because we've been in a similar spot to all of our users.
                    </div>
                </li>
            </ul>

            <script src="./js/navbar.js"></script>
    </body>

</html>