<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="./styles/main.css">
        <title>Document</title>
    </head>

    <body>
        <%- include ("../partials/nav.ejs") %>
            <ul class="honeycomb" id="contact">
                <li class="honeycomb-cell img">
                    <img src="./assets/roldan.JPG" class="honeycomb-cell__image">
                    <div class="honeycomb-cell__title">
                        <h1>Ethan Roldan</h1>
                        <a href="/">Email me!</a>
                    </div>
                </li>
                <li class="honeycomb-cell img">
                    <img src="./assets/graves.JPG" class="honeycomb-cell__image">
                    <div class="honeycomb-cell__title">
                        <h1>Luca Graves</h1>
                        <a href="/">Email me!</a>
                    </div>
                </li>
                <li class="honeycomb-cell img">
                    <img src="./assets/makris.JPG" class="honeycomb-cell__image">
                    <div class="honeycomb-cell__title">
                        <h1>Andrew Makris</h1>
                        <a href="/">Email me!</a>
                    </div>
                </li>
                <li class="honeycomb-cell img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png" class="honeycomb-cell__image">
                    <div class="honeycomb-cell__title">
                        <h1>Instagram</h1>
                        <a href="/">Click Here</a>
                    </div>
                </li>
                <li class="honeycomb-cell img">
                    <img src="https://play-lh.googleusercontent.com/wIf3HtczQDjHzHuu7vezhqNs0zXAG85F7VmP7nhsTxO3OHegrVXlqIh_DWBYi86FTIGk" class="honeycomb-cell__image">
                    <div class="honeycomb-cell__title">
                        <h1>Twitter</h1>
                        <a href="/">Click Here</a>
                    </div>
                </li>
            </ul>

            <script src="./js/navbar.js"></script>
    </body>

</html>