<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles/main.css">
    <title>Document</title>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>
    <ul class="honeycomb">
        <li class="honeycomb-cell">
            <div class="honeycomb-cell__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad assumenda asperiores eius.</div>
        </li>
        <li class="honeycomb-cell img">
        <img src="https://www.gaithersburgdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.png" class="honeycomb-cell__image">
        </li>
        <li class="honeycomb-cell">
            <div class="honeycomb-cell__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, nesciunt!</div>
        </li>
        <li class="honeycomb-cell">
            <div class="honeycomb-cell__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, nesciunt!</div>
        </li>
        <li class="honeycomb-cell">
            <div class="honeycomb-cell__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, nesciunt!</div>
        </li>
    </ul>
</body>
</html>