<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Document</title>
</head>
<body>
    <%- include ("../partials/nav.ejs") %>
    <ul class="honeycomb" id="home" style="margin-top: 30vh">
        <li class="honeycomb-cell">
            <div class="honeycomb-cell__title">
                <h1>Featured game:</h1>
                Apple
            </div>
        </li>
        <li class="honeycomb-cell img">
            <img src="./assets/apple.svg" class="honeycomb-cell__image">
        </li>
        <li class="honeycomb-cell">
            <div class="honeycomb-cell__title">
                Do you hate that snakes eat your apples? Take revenge and play as an apple eating snakes.
            </div>
        </li>
    </ul>

    <script src="./js/navbar.js"></script>
</body>
</html>