<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="./styles/main.css">
        <title>Document</title>
    </head>

    <body>
        <%- include ("../partials/nav.ejs") %>
            <ul class="honeycomb" id="parties">
                <% let members=games[game-1].parties.filter(party => party._id == id); %>
                <% for(member of members[0].users) { %>
                    <li class="honeycomb-cell">
                        <div class="honeycomb-cell__title">
                            <%= member %>
                        </div>
                    </li>
                <% } %>
            </ul>

            <script src="./js/navbar.js"></script>
    </body>

</html>