<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="./styles/main.css">
        <title>Document</title>
    </head>

    <body>
        <%- include ("../partials/nav.ejs") %>
            <ul class="honeycomb" id="subscription">
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>Username</h1>
                        <input type="text">
                    </div>
                </li>
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>Email</h1>
                        <input type="text">
                    </div>
                </li>
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>Password</h1>
                        <input type="password">
                        <input type="password" placeholder="Confirm Password">
                    </div>
                </li>
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>Basic Plan</h1>
                        You can join up to three groups in three different games.
                        <a href="/">Free!</a>
                    </div>
                </li>
                <li class="honeycomb-cell">
                    <div class="honeycomb-cell__title">
                        <h1>Premium Plan</h1>
                        You can join unlimited groups in unlimited games! Happy gaming!
                        <a href="/">$3 / mo</a>
                    </div>
                </li>
            </ul>

            <script src="./js/navbar.js"></script>
    </body>

</html>