.navbar {
  position: fixed;
  width: 80%;
  background-color: #171717;
  z-index: 1;
  top: 0;
  left: 10%;
  border-bottom: 0.05rem solid white;
  ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    max-height: 3.5rem;
    div {
      max-height: 3.5rem;
      display: flex;
      .nav-logo {
        padding: 0.5rem 1rem;
        img {
          height: 100%;
          width: 100%;
          //animation: clrLogo 15s linear 0s infinite;
        }
      }
      .menu-button {
        display: none;
        visibility: hidden;
        button {
          background-color: transparent;
          .fas {
            color: white;
            ::before {
              color: inherit;
            }
          }
        }
      }
      .nav-item a,
      .nav-item button {
        display: block;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        text-decoration: none;
        padding: 1rem 1.5rem;
        background-color: transparent;
        // &.active {
        //   background-color: $accent-color !important;
        //   // color: $font-light;
        //   &:hover {
        //     filter: brightness(0.8);
        //   }
        // }
      }
      .title {
        display: grid;
        place-items: center;
      }
      .title a {
        padding: 0.75rem 0;
        font-size: 1.25rem; //1rem
        font-size: clamp(0.75rem, 4vw, 1.5rem);

        white-space: nowrap;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    background-color: inherit;
    border: 10px solid white;
    border-top: none;
    animation: rgbBorder 10s linear 0s infinite, rgbText 10s linear 0s infinite;

    top: -4%;
    bottom: -11%;
    left: -3%;
    right: -3%;
    z-index: -1;

    -webkit-transform: perspective(50em) rotateX(-30deg);
    transform: perspective(50em) rotateX(-30deg);
  }
}
@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    background-color: #171717;
    height: 7rem;
    .menu-button {
      display: grid !important;
      visibility: visible !important;
      color: white;
      place-items: center;
      margin-left: auto;
      padding: 0 1rem;
      cursor: pointer;
      i {
        font-size: 2.5rem;
      }

      .fa-bars {
        transition: 150ms;
      }
      .open {
        transform: rotate(90deg);
        transform-origin: center;
      }
    }
    .links {
      flex-direction: column;
      .nav-item {
        background-color: #171717;
        border: {
          left: 8px white solid;
          right: 8px white solid;
        }
        animation: rgbBorder 10s linear 0s infinite,
          rgbText 10s linear 0s infinite;
        &:last-child {
          border-bottom: 8px white solid;
          animation: rgbBorder 10s linear 0s infinite,
            rgbText 10s linear 0s infinite;
        }
      }
      // .link {
      //   background-color: $light-background-translucent;
      // }
    }

    .links {
      transform: scaleY(1);

      transform-origin: top;
      transition: transform 200ms ease-in-out;
      .link {
        transition: opacity 100ms linear;
        transition-delay: 100ms;
      }
    }
    .links.closed {
      transform: scaleY(0);
      transition-delay: 100ms;
      .link {
        opacity: 0;
        transition-delay: 0ms;
      }
    }
  }
}

@keyframes clrLogo {
  0% {
    filter: sepia(1) saturate(10) hue-rotate(0deg);
  }
  100% {
    filter: sepia(1) saturate(10) hue-rotate(360deg);
  }
}
